## Gradle
.gradle/
/build/


## Visual Studio Code
.vscode/

## Compiled Java class files
/bin/
/out/

## Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

## git
.gitattributes
.gitignore
