## Gradle
.gradle/
/build/
settings.gradle
gradlew.bat
build.gradle
gradlew

## Visual Studio Code
.vscode/

## Compiled Java class files
/bin/
/out/

## Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

## git
.gitattributes
